# Godot 4+ specific ignores
.godot/
/android/
exports/
export_presets.cfg

# Editors
.zed

# Agents
.claude
CLAUDE.md

# Addons (see README and install them from Godot)
addons/

# Assets (if not be safe to distribute)
assets/art/
assets/audio/
